{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/collage.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Sobre mi</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p> Nací en Zárate, Buenos Aires. Desde pequeña mi vida fue un ir y venir por el mundo. El movimiento fue la
                única constante en una vida llena de cambios, mudanzas y aventuras. </p>
            <br>
            <p> En este ir y venir por distintos caminos descubrí la montaña y encontré en ella un espejo donde se
                reflejaba mi mundo. Halle cierta sabiduría en ese <strong>mirar desde una perspectiva diferente</strong>,
                esa visión me enseñó un concepto de abundancia completamente distinto, uno que en la cotidianidad y la
                rutina generalmente nos cuesta observar. Entendí como muchas veces el ruido de las cosas materiales y de
                los prejuicios constantes, nos alejan de lo único que al final del día,<i> y al final de la vida</i>,
                transmutan y permanecen eternos. Descubrí en el camino por las montañas un sin fin de tesoros, pequeños
                placeres, logros, alegrías, que en la vida mundana uno no valora, o pasan desapercibidos. </p>
            <br>
            <p> En la montaña halle la valentía para seguir mis sueños, para amar con todo mi corazón, para dejarme
                amar, para ser consistente con mis objetivos y para vivir la vida con pasión. </p>
            <br>
            <p>Aprendí que cuando encaras la idea de hacer una cumbre, en realidad encaras un aprendizaje y una magia
                mayor. Un descubrimiento que solo uno muy adentro sabe. En ese camino te vas encontrando con algo que
                quizás, desde la perspectiva normal de la vida cotidiana no lográs ver. <strong>Encontré en la montaña
                    un espejo, en las pircas del camino señales.</strong></p>
            <br>
            <p> En el camino por las montañas, también descubrí la escalada, esta pasión se convirtió en parte de mi
                identidad. Dentro de los vaivenes constantes de mi vida y su inconsistencia, la escalada se transformó
                en mi equilibrio. Algo que siempre estará ahí para mí. También me encontré con la mágica conexión de
                vivir una vida <u>ligada a la naturaleza</u>.</p>
            <br>
            <p> Me caracterizan las ganas de estar en movimiento, de explorar, de hacer, de ser y de compartir la mágica
                locura de la vida con todo aquel que se anime a ir tras sus sueños. Siempre pensé que el mundo es de los
                que se atraven, y nunca me imaginé vivir mi vida de una manera distinta. No hay nada que el genio no
                pueda, cuando uno tiene una idea en la cabeza y lo lleva a cabo con total determinación, el universo
                suele conspirar a tu favor. </p>
            <br>
            <p> Mi desafío es la evolución constante, saberme hoy posicionada en este preciso instante y encarar las
                ambivalencias de la vida como modos de aprendizaje, tratando <strong>siempre</strong> de alcanzar mis
                sueños.<strong><i> Espero que mis aventuras te ayuden a alcanzar los tuyos. </i></strong></p>

        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}