{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('static/img/pirca2.jpg'); padding-top: 100px">
    <div class="overlay-head"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Dani Dimotta</h1>
                    <span class="subheading">Seguí mi camino,<br>
                    encontrá tus pircas</span>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<section class="masthead" style="background-image: url('static/img/refugioviento.jpg'); padding: 250px 0 250px">

    <div class="container mid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading-mid">
                    <h1>Hola! Soy Dani Dimotta</h1>
                    <span class="subheading">Nací en Zárate, Buenos Aires. Desde pequeña mi vida fue un ir y venir por el mundo. El movimiento fue la única constante en una vida llena de cambios, mudanzas y aventuras.
                     <br><br>Descubrí en la montaña cierto misterio...</span>
                    <br>
                    <a class="btn btn-outline-light" href="{{url_for('about')}}" role="button">Leer Más</a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="the-carousel">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div id="main-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#main-carousel" data-slide-to="1"></li>
                        <li data-target="#main-carousel" data-slide-to="2"></li>
                        <li data-target="#main-carousel" data-slide-to="3"></li>
                        <li data-target="#main-carousel" data-slide-to="4"></li>
                        <li data-target="#main-carousel" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner rounded-2 shadow-4-strong">
                        <div class="carousel-item active">
<!--                            <div class="overlay"></div>-->
                            <img class="d-block w-100" src="static/img/pirca.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
<!--                            <div class="overlay"></div>-->
                            <img class="d-block w-100" src="static/img/lanin.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
<!--                            <div class="overlay"></div>-->
                            <img class="d-block w-100" src="static/img/DANI-ESCALANDO1.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
<!--                            <div class="overlay"></div>-->
                            <img class="d-block w-100" src="static/img/danipaisaje.jpg" alt="Forth slide">
                        </div>
                        <div class="carousel-item">
<!--                            <div class="overlay"></div>-->
                            <img class="d-block w-100" src="static/img/dani-camina.jpg" alt="Fifth slide">
                        </div>
                        <div class="carousel-item">
<!--                            <div class="overlay"></div>-->
                            <img class="d-block w-100" src="static/img/kailas.jpg" alt="Sixth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#main-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#main-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in all_posts %}
                <div class="post-preview">
                    <a href="{{ url_for('show_post', post_id=post.id) }}">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.subtitle}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by

                        <a href="{{url_for('about')}}">{{post.author.username}}</a>
                        on {{post.date}}
                        {% if current_user.id == 1 %}
                        <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
                        {% endif %}
                    </p>
                </div>
                <hr>
                {% endfor %}


                <!-- New Post -->
                {% if current_user.id == 1 %}
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<hr>

{% include "footer.html" %}
